*{
    width: 100%;
    background-color:#D3D3D3;
    
}
.container{
    display: grid;
    grid-template-columns: 1;
    justify-content: center;
}
.logo>img{
    margin-left: 120px;
width: 150px;
height: 100px;


}
.musicimage>img{
    width: 350px;
    margin-left: 20px;
    
}
.nowplayin{
    text-align: center;
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: italic;
    color: #6141ac;
}
.bar{
   
}
svg{
    display: inline-block;
    justify-content:space-between;
    width:40px ;
    padding-left: 70px;
    margin-top: -100px;
    color: #6141ac;
}
.playlist{
    text-align: center;
    font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
    color: #6141ac;
}
.nowplayin h2 {
    margin: 0;
    padding: 0;
}
